[submodule ".registry"]
	path = .registry
	url = https://github.com/yousa-mirage/yousa-mirage.r-universe.dev
	branch = HEAD
[submodule "ahocorasick"]
	path = ahocorasick
	url = https://github.com/Yousa-Mirage/r-ahocorasick
	branch = v0.2.0
[submodule "ggtypst"]
	path = ggtypst
	url = https://github.com/Yousa-Mirage/ggtypst
	branch = v0.1.0
[submodule "jiebaRS"]
	path = jiebaRS
	url = https://github.com/Yousa-Mirage/jiebaRS
	branch = v0.1.0
